* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #212121;
  line-height: 1.5;
}

.gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    35deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(46, 20, 213, 0.19032625257134106) 18%,
    rgba(0, 212, 255, 0.4564326951483718) 100%
  );

  height: 100vh;
}

#search-box {
  font: inherit;
  padding: 10px;
  margin-bottom: 16px;
  display: block;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  font-size: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.list-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.list-img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.list-text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.main-img {
  border-radius: 10px;
}

.country-name {
  text-align: center;
}

.info-title {
  font-size: 25px;
  font-weight: 500;
  margin-right: 10px;
}

.country-list {
  max-width: 700px;
  margin: 50px auto;
  text-align: center;
}

.info {
  font-size: 20px;
  font-family: monospace;
  font-weight: 500;
}

.country-info {
  max-width: 600px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
}
